@charset "utf-8";
/* CSS Document */

a.textstyle  {
	color: red;
}

a:hover {
	font-size: 24px;
	text-transform: none;
	text-decoration: none;
	cursor: pointer;
}

a {
	text-transform: none;
	text-decoration: none;
}

table {
  border-collapse: collapse;
  border: 0px;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #ffffff;
  }
caption {
  text-align: center;
  font: bold 18px arial, helvetica, sans-serif;
  background: transparent;
  padding:6px 4px 8px 0px;
  color: #03476F;
  text-transform: uppercase;
  }
td, th {
  padding: .4em;
  }
tbody th, tbody td {
  vertical-align: top;
  text-align: left;
  }
.odd {
  background: #E6E6FA;
  }
  
.inputError {
	background-color: #FFCCFF;
}