@charset "utf-8";
/* CSS Document */

#conteiner {
	
}

body{
	margin: 0 auto;
	padding: 0;
}

table {
	margin:0 auto;
	padding: 0;
}
	
p {
	margin:0 auto;
	padding: 0;
}

#header{
	background-color: #9CF;
	height: 75px;
	width: 100%;
	float: left;
	border-bottom-width: 8px;
	border-bottom-style: double;
	border-bottom-color: #006BB3;
}

.logo{
	width: 253px;
	height: 85px;
	background-color: #9CF;
	float: left;
	}


.clear {
	clear: both;
}

#midd {
	float: left;
	height: 100%;
	width: 100%;
}

.left {
	float: left;
	width: 253px;
	height: 450px;
	background-repeat: repeat-y;
	border-right-width: 8px;
	border-bottom-width: 8px;
	border-right-style: double;
	border-bottom-style: double;
	border-right-color: #006BB3;
	border-bottom-color: #006BB3;
	background-color: #9CF;
}

#cont {
	float: left;
	height: 445px;
	width: 750px;
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
	overflow: auto;
	border-right-width: 8px;
	border-bottom-width: 8px;
	border-right-style: double;
	border-bottom-style: double;
	border-right-color: #006BB3;
	border-bottom-color: #006BB3;
}

.textstyle {
	font-family: "Comic Sans MS", cursive;
}

a.textstyle  {
	color: red;
}

a:hover {
	font-size: 24px;
	text-transform: none;
	text-decoration: none;
}

a {
	text-transform: none;
	text-decoration: none;
}

h1.h1test{ 
	color:red;
	text-align:center;
	margin-left:400px;
}

button{width: 30px;}

ul.leftclass{
	list-style-type: none;
	text-align: left;
}

li.leftclass{
	margin-bottom: 5px;
}

.buttontest{
	width: 150px;
}

.buttontest:hover{
	font-weight: bold;
	text-transform: uppercase;
}

.tabletext{
	text-align: left;
}
