ConfPath = c:/ca/user_req.cnf
RootCertPath = c:/ca/cacert.pem
RootKeyPath = c:/ca/cakey.pem
SpkacFolderPath = c:/ca/spkac
PemFolderPath = c:/ca/pem
ReqSerialPath = c:/ca/req_serial
ReqFinalTextFilePath = c:/ca/req_output.txt
OutCertsPath = c:/ca/certs
CrlPath = c:/ca/crl.pem
ModulesDbFilePath = c:/ca/modules.dat
OpenSslApiLogPath = c:/ca/opensslapi.log
SignedSpkacsFolderPath = c:/ca/signed_spkac
UserCertsPath = c:/ca/cert_to_send_to_user
OpenSslExePath = C:/Program Files/GnuWin32/bin/openssl.exe
